.container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: auto;
}

.card-group {
  flex: 1;
  text-align: center;
  margin: 1%;
}

.card-title-0 {
  background-color: lightblue;
}

.card-title-1 {
  background-color: lightcoral;
}

.card-title-2 {
  background-color: lightgray;
}

.card-title-3 {
  background-color: lightsalmon;
}

.card-list {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  justify-content: space-around;
}
